.title {
  font-size: 14px;
  line-height: 1;
  color: #333;
}

.dropzone {
  width: 80px;
  height: 80px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 13px;
  line-height: 1.5;
  color: #f5222d;
}

.imagePreview {
  position: relative;
  width: 400px;
  height: 100%;

  .image {
    width: 100%;
    height: 100%;
  }
}
